.page * {
    color: white;
    font-family: pacifico, cursive;
    box-sizing: border-box;
    font-size: 2rem;
}

html {
    height: 100%;
}

body {
    background-color: #330136;
    background-image: linear-gradient(#330136, #5E1742); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page a {
    text-decoration: none;
}

.page a:hover{
    color: #FF5E35; 
}

.page .game {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}

.page .clearfix {
    clear: both;
}

.page .allgames {
    max-width: 1200px;
    margin: auto auto;
}

.page img{
    width: 60%;
    height: auto;
    background-color: rgb(243, 243, 243);
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 12px 10px 14px #330136; 
}


.page footer {
    background: #330136;
    background-image: linear-gradient(#962E40,#330135 );
    width: 100%;
    padding: 50px;
    text-align: center;
    position: absolute;
    top: 1400px;
}

.page{
    position: relative;
    top: 535px;
}

.staggering {
    width:360px;
    height:360px;
    border-radius: 5px;
    box-shadow: 12px 10px 14px #330136; 
    position: absolute;
    right: 24%;
    top: 924px;
}

#stagtext{
  position: absolute;
    top: 1320px;
    right: 26%; 
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
.Logo,
h1,
h2,
h3,
h4,
p,
a{
    font-family: 'Pacifico';
}


.container {
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    min-height: 1px;
    float: left;
}
.header {
    padding: 5px 0px;
    background: #330136;
    background-image: linear-gradient(#330136, #962E40);
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
 
  }

  .main-nav {
      float:right;
  }
  .nav>li{
      float:left;
      padding: 20px;
      margin-bottom: 15px;
      list-style-type: none;
  }

  .header .main-nav .nav .nav-item {
    font-weight: normal;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  .header .main-nav .nav .nav-item a {
    color: white;
    font-size: 22px;
    padding: 15px 10px;
    text-decoration: none;
  }
  .header .main-nav .nav .nav-item a:hover {
    color: red;
    background: none;
  }
  .header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
  }
  .Logo{
      float: left;
      margin-left: 25px;
      font-family: 'Pacifico';
      font-size: 2rem; 
  }

  .MainBar{ 
    margin-top: 150px
  }

  .top{
      height: 100%;   
  }

  .raket{
    z-index: 1;
    position: absolute;
  }

  .bgimage{
    position: absolute;
  }

  @keyframes tetris {
      0%, 25%{
          margin-top: 1%; 
      }
      25%, 50%{
          margin-top: 2%; 
      }
      50%, 75%{
          margin-top: 3%; 
      }
      75%, 100%{
          margin-top: 4%; 
      }
  }

  #tet:hover{
    animation: tetris 4s; 
  }

  #tetris{
    position: absolute;
    height: 363px;
    width: auto;
    left: 24%;
    top: 924px;
  }

  #tet{
    position: absolute;
    height: 363px;
    width: auto;
    left: 24%;
    top: 924px;
    background-color: transparent; 
    box-shadow: none; 
  }

  #tettext{
    position: absolute;
    top: 1320px;
    left: 32%;
  }

  #ants{ 
    position: absolute;
    height: 362px;
    width: auto;
    left: 24%;
    top: 461px;
  }


  #ant{
    position: absolute;
    height: 362px;
    width: auto;
    left: 24%;
    top: 461px;
  }

  #anttext{
    position: absolute;
    top: 850px;
    left: 27%; 
  }
  


  @keyframes bjr {
    0%, 33%{
      margin-right: initial; 
    }
    33%, 66%{
      margin-right: 2%; 
    }
    66%, 100%{
      margin-right: initial; 
    }
  }

  #bowser{
      background-color: transparent; 
      right: 24%;
      position: absolute;
      height: 362px;
    width: auto;
    box-shadow: none; 
  }

  #bowtext{
    position: absolute;
    top: 388px;
    right: 29%; 
  }

  #background{
    right: 24%;
    position: absolute;
    height: 362px;
  width: auto;

  }

  #bowser:hover{
      animation: bjr 2s infinite; 
  }

  @keyframes ssp{
    
  }
  
#sten:hover{
  animation: ssp 4s; 
}

#sten{
  position: absolute;
  right: 24%; 
    height: 362px;
    width: auto;
    top: 461px;
}

#ssp{
  position: absolute;
  right: 24%; 
    height: 362px;
    width: auto;
    top: 461px;
    background-color: transparent; 
    box-shadow: none;
}

@keyframes ssp {
  0%, 33%{
    top: 461px; 
  }
  33%, 66%{
    top: 500px; 
  }
  66%, 100%{
    top: 461px; 
  }
}

#ssp:hover{
  animation: ssp 4s infinite; }

#stentext{
  position: absolute;
  top: 850px;
  right: 28%; 
}

#memory:hover{
    background-image: url(./images/index_memory2.svg); 
}

#memory{
  position: absolute;
    height: 362px;
    width: auto;
    left: 24%; 
}

#memtext{
  position: absolute;
  top: 388px;
  left: 30%; 
}

