@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
.Logo,
h1,
h2,
h3,
h4,
p,
a{
    font-family: 'Pacifico';
}

body{
    background-color:#962E40;
    margin:0;
    padding:0;

}
.container {
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    min-height: 1px;
    float: left;
}
.header {
    padding: 5px 0px;
    background: #962E40;
    color: #fff;
    position: fixed;
    width: 99%;
    z-index: 100;
    top: 0;
 
  }

  .main-nav {
      float:right;
  }
  .nav>li{
      float:left;
      padding: 20px;
      margin-bottom: 15px;
      list-style-type: none;
  }

  .header .main-nav .nav .nav-item {
    font-weight: normal;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  .header .main-nav .nav .nav-item a {
    color: white;
    font-size: 14px;
    padding: 15px 10px;
  }
  .header .main-nav .nav .nav-item a:hover {
    color: red;
    background: none;
  }
  .header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
  }
  .Logo{
      float: left;
      margin-left: 25px;
      font-family: 'Pacifico';
  }

  .MainBar{ 
    background-image:url(images/index.svg);
    background-repeat: no-repeat;
    margin-top: 120px;
    height: 70%;
    width: 100%;
  }

  .top{
      height: 100%;
      
  }
  
